 *{
    box-sizing: border-box;
}

/* div{
    border:1px solid lightgrey;
} */
body{
    background-color:#f8f8f8;
    color: #777;
    line-height: 0.9em!important;
}

.inner
{
    margin :0;
}

.container{
    padding:0!important;
}
.side{     
    padding-left: 1em;
    padding-right: 1em;
}
.main{ 
    padding: 2em;
    background-color: #fff;
    border: 1px solid lightgrey;   
}
.header{
    margin: 0 auto 1em 0;
    font-size: 2em;
    text-decoration: none!important;
}
aside{
    padding-left: 0!important;
    padding-right:0!important;
}
/* button  */
.menu_item{
    height: 3em;
    padding-left: 1em;
    font-weight: 800;
    background-color: #fff;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 0;
    color: #aaa;
    font-size: 0.8em;
    
}
.btn-top{
    border-top:1px solid lightgray;
}
.menu_item:hover{
    border-left: 5px solid rgb(255, 206, 0);
    color: #444;
}
.active-side{
    color: #222;
    border-left: 5px solid rgb(255, 41, 41);
}
.card-header{
    padding:0;
}

/* CLASES indiferentes */
.font-09{
    font-size: 0.9rem;
}
h4{
    color: #000;
    font-size: 1.3rem;
    
    
}
h5{
    color: #444;
    font-size: 1.1rem;
}
/* .btn{
    filter: drop-shadow(4px 10px 4px #aaa);
} */
#tabla_hoy_wrapper{
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-radius: 2px;
    filter: drop-shadow(4px 4px 4px #aaa);
    background-color: whitesmoke;
}

#tabla_hoy thead{
    background-color: whitesmoke;
}
/* decoration for input */
.pos_input{
    border:0;
    background-color: #fff;
}

.img_bg{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#tabla_hoy{
    border: 1px solid lightgray;
    
}
#tabla_hoy td{
    border-bottom: 1px solid lightgray;
}
.title{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,c2ad79+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgb(255,255,255) 0%, rgb(194,173,121) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgb(255,255,255) 0%,rgb(194,173,121) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(255,255,255) 0%,rgb(194,173,121) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2ad79',GradientType=1 ); /* IE6-9 */
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    filter: drop-shadow(4px 10px 4px #aaa);
    text-align: center;
}
.red-gradient{
    width:80%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f70909+0,e8b0b0+70,ffffff+99 */
    background: rgb(247,9,9); /* Old browsers */
    background: -moz-linear-gradient(left,  rgb(247,9,9) 0%, rgb(232,176,176) 70%, rgb(255,255,255) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgb(247,9,9) 0%,rgb(232,176,176) 70%,rgb(255,255,255) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(247,9,9) 0%,rgb(232,176,176) 70%,rgb(255,255,255) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f70909', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    
}
.bg-whitesmoke{
    background-color: whitesmoke;
}

.l-height-normal{
    line-height:1.5em;
}
input{
    border-radius: 2px;
}
.img-bg{
    background-image: url('/images/spain.png');
    background-repeat: no-repeat;
    background-position-x: 10em;
    background-size: contain;
}

.bg-gray{
    background-color: rgba(252, 210, 64, 0.5);
    color: #000;
    font-weight: 800;
}
.editable.form-row{
    margin-left: 0!important;
    margin-right:0!important;
}

.delete-circle{
  /*   height: 18px;
    width: 20px; */
    border-radius: 50%;
    background-color: rgb(104, 101, 101);
    color: white;
    border: 2px solid rgb(83, 47, 47);
    text-align: center;
    font-weight: 900;
    padding-left:6px;
    padding-right:6px;
}
.delete-circle:hover{
    border:2px solid #333;
    background-color: white;
    color: #000;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .main {   
        flex-direction: column;
    }
    .header {
        font-size: 1.5em;
        padding: 1px;
    }
    .side {
        font-size: 0.8em;
        padding-right: 0;
        padding-left: 0;
    }
}
.dropdown:hover>.dropdown-menu {
    display: block!important;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    
    .header {
        font-size: 1.5em;
        padding: 1.3em;
    }
    .side {
        font-size: 0.8em;
    }
}